.scroll{
  max-height: calc(100vh - 40px);
  overflow-y: scroll;
}

.card{
  background-color: #FFFFFF;
  border-radius: 12px;
  width: 100%;
  padding: 12px 24px;
  gap: 5px;
}

.card.blue{
  height: 100px;
  overflow: hidden;
}

.centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card.blue .title{
  font-size: 18px;
}

.title{
  font-size: 14px;
  font-weight: 500;
}

.card.blue .subtitle{
  font-size: 14px;
}

.subtitle{
  font-size: 12px;
  color: #272727;
  font-weight: 400;
  margin: 0;
}

.full{
  height: 100%;
}

.pd-2{
  padding: 0 20px;
}

.flex{
  display: flex;
}

.in-row{
  flex-direction: row;
}

.in-column{
  flex-direction: column;
}

.ml-2{
  margin-left: 20px;
}
.success{
  color: #28A745;
}
.warning{
  color: #EF4E00;
}
.icon{
  font-size: 28px;
  color: #183A9C;
}
.status{
  font-size: 20px;
}
