.scroll{
  max-height: 650px !important;
  overflow-y: scroll;
}

.card{
  background-color: #FFFFFF;
  border-radius: 12px;
  width: 100%;
  padding: 20px;
  gap: 5px;
}

.centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  font-size: 18px;
  font-weight: bold;
}

.subtitle{
  font-size: 14px;
  color: #272727;
  font-weight: 400;
  margin: 0;
}

.full{
  height: 100%;
}

.pd-2{
  padding: 0 20px;
}

.flex{
  display: flex;
}

.in-row{
  flex-direction: row;
}

.in-column{
  flex-direction: column;
}

.ml-2{
  margin-left: 20px;
}
.success{
  color: #28A745;
}
.warning{
  color: #EF4E00;
}
.icon{
  font-size: 28px;
  color: #183A9C;
}
