<app-loader [loading]="loading"></app-loader>
<div class="wrapper background">
  <div class="container">
    <div class="row">
      <div class="col-xl-7 col-md-6 col-sm-4"></div>
      <div class="col-xl-4 col-md-6 col-sm-8 my-auto">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="login-form" class="glass">
          <div class="row">
             <div class="col-12 text-center">
              <img src="assets/images/logo.png" class="logo">
            </div>
              <div class="col-12 text-left mt-3">
                  <h4>¿Olvidó su Contraseña?</h4>
                  <p>Bienvenido de nuevo. Introduce tus credenciales para acceder a tu cuenta.</p>
              </div>

              <div class="col-12">
                  <div class="float-group">
                    <label for="email">Correo electrónico</label>
                      <input inputTrim formControlName="email"
                      type="text" id="email" class="form-control error" placeholder="correo@gmail.com"
                      [ngClass]="{'error': email?.invalid && (email?.dirty || email?.touched)}">
                      <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-message">
                        <span *ngIf="email?.errors?.['required']" class="errors">
                          El correo electrónico es requerido.
                        </span>
                        <span *ngIf="email?.errors?.['email']" class="errors">
                          Por favor ingresa un correo electrónico válido.
                        </span>
                    </div>
                  </div>
              </div>

              <p *ngIf="unauthorized"
              class="text-danger">Correo electrónico incorrecto. Por favor verifique su correo y para crear una nueva contraseña.</p>

              <p *ngIf="success"
              class="text-success">El link de restauracion de contrasena ha sido enviado.</p>

              <div class="col-12">
                <button type="submit" type="submit" class="btn btn-lg btn-block" [disabled]="isSubmit">
                  Continuar
                </button>
              </div>
          </div>
        </form>
      </div>
      <div class="col-xl-1 d-none"></div>
    </div>
  </div>
</div>
