.sidebar{
  border: 2px solid #FFFFFF;
  padding: 50px 30px;
  width: 100%;
  height: calc(100vh - 40px);
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #FFFFFF;
  border-radius: 20px;
  z-index: 10 !important;
}
/* .sidebar:hover{
  overflow-y: scroll !important;
} */

.scroll{
  overflow-y: scroll;
}

img{
  width: 100%;
  border-bottom: 1px solid #183A9C;
  padding-bottom: 20px;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.section{
  font-size: 14px;
  color: #B3B3B3;
}

.flex i{
  font-size: 10px;
  color: #B3B3B3;
}

.options{

}

.option{
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 12px;
  border-radius: 4px;
}

.option .counter{
  background-color: #EF4E00;
  color: #FFFFFF;
  padding: 0px 12px;
  border-radius: 4px;
  font-size: 14px;
}

.option.active,
.option:hover{
  background-color: #FFFFFF;
  cursor: pointer;
}

hr{
  margin:0;
  padding: 0;
}

.option .icon{
  font-size: 20px !important;
  margin: 0;
  padding: 0;
  border: none;
  color: #183A9C;
}

.option .title{
  font-size: 14px;
}

.user-section{
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.user-section .avatar{
  background-color: #EF4E00;
  width: 40px !important;
  height: 40px;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  border: none;
}

.user{
  display: flex;
  flex-direction: column;
}

.user .name{
  font-size: 12px;
  color: #191D23;
}

.user .email{
  font-size: 12px;
  color: #7D8592;
}

.btn{
  width: 100%;
}

.logout{
  font-weight: bolder;
  background-color: #B3B3B3;
  color: #FFFFFF;
  height: 44px;
}

.support{
  font-weight: bolder;
  background-color: #EF4E00;
  color: #FFFFFF;
  height: 44px;
}
