.calendar-container {
  max-width: 1200px;
  margin: 0 auto;
}

.scroll{
  height: calc(100vh - 40px);
  overflow-y: scroll;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  color: #2c3e50;
  margin-bottom: 10px;
}

.calendar {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.calendar-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #EF4E00;
  font-weight: bold;
  text-align: center;
}

.calendar-header div {
  color: #FFFFFF;
  padding: 5px 0;
  border-right: 1px solid #D8E0F0;
}

.calendar-header div:last-child {
  border-right: none;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1px;
  background-color: white;
}

.day {
  min-height: 100px;
  background-color: white;
  padding: 10px;
  position: relative;
}

.day-number {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #272727;
}

.empty {
  background-color: #f8f9fa;
}

.social-icons {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.social-icon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.facebook {
  background-color: #183A9C;
}

.twitter {
  background-color: #1da1f2;
}

.instagram {
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
}

.youtube {
  background-color: #ff0000;
}

.linkedin {
  background-color: #0077b5;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 0 10px;
}

.month-selector {
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  padding: 8px 16px;
  background-color: #3A86CC;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
}

select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.legend {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.legend-color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .day {
      min-height: 80px;
      padding: 5px;
  }

  .day-number {
      font-size: 14px;
  }

  .social-icon {
      width: 18px;
      height: 18px;
      font-size: 10px;
  }

}

//Estilos para esconder los controles
.controls{
  height: 1px !important;
  overflow: hidden;
  margin: 0;
  visibility: hidden;
}

//CARD
.card{
  background-color: #FFFFFF;
  border-radius: 12px;
  width: 100%;
  height: 100px;
  overflow: hidden;
  padding: 20px;
  gap: 5px;
}

.title{
  font-size: 18px;
  font-weight: bold;
}

.subtitle{
  font-size: 14px;
  color: #272727;
  font-weight: 400;
  margin: 0;
}
