.background{
  background-image: url('assets/images/login-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#login-form{
  width: 100%;
  border-radius: 10px;
  border: 2px solid #64748B;
  padding: 80px 40px;
}

#login-form .row{
  gap: 20px;
}

#login-form h4{
  font-size: 20px;
  color:#EF4E00;
  font-weight: 600;
}

#login-form p{
  font-size: 14px;
  color: #010101;
  font-weight: 400;
  margin: 0;
}

#login-form .float-group label{
  font-size: 14px;
  color: #010101;
  font-weight: 400;
}

.float-group{
  position: relative;
}

.float-group a{
  position: absolute;
  right: 0;
  font-size: 12px;
  font-weight: 400;
}

input{
  background-color: #E8E8E8;
  border: 2px solid #E8E8E8;
  border-radius: 5px;
}

input::placeholder{
  color: #B3B3B3;
  font-size: 14px;
}

#login-form span{
  font-size: 14px;
  color: #010101;
  font-weight: 400;
}

#login-form a{
  font-size: 14px;
  color: #183A9C;
  font-weight: 400;
  text-decoration: none;
}

.custom-checkbox{
  font-size: 14px;
  font-weight: 400;
  color: #010101;
}

.custom-checkbox input {
  width: 16px;
  accent-color: #EF4E00;
}

.custom-checkbox span{
  position: absolute;
  transform: translate(5px, 8px) !important;
}

div > .btn{
  width: 100%;
  height: 44px;
  background-color: #EF4E00;
  color: #FFFFFF;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
}

.input-group-append{
  position: absolute;
  top: 30px;
  right: 10px;
}

.input-group-append button{
  background-color: transparent;
  border: none;
  color: #000;
}

.register{
  margin-top: 20px;
}

.errors{
  color: red !important;
  font-weight: 400;
  margin: 0;
  padding: 0 10px;
}

input.error{
  border-color: red;
}

.input-group-append{
  top: 20px;
}
