.scroll{
  max-height: calc(100vh - 40px);
  overflow-y: scroll;
}

.card{
  background-color: #FFFFFF;
  border-radius: 12px;
  width: 100%;
  padding: 24px 12px !important;
  gap: 5px;
  overflow: hidden;
}

.card.social{
  min-height: 180px !important;
}

.card img{
  width: 30px;
  height: 30px;
}

.centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  font-size: 18px;
  font-weight: bolder;
  font-weight: bolder;
}

.subtitle{
  font-size: 14px;
  color: #64748B;
  font-weight: 400;
  margin: 0;
}

.full{
  height: 100%;
}

.pd-2{
  padding: 0 20px;
}

.flex{
  display: flex;
}

.in-row{
  flex-direction: row;
}

.in-column{
  flex-direction: column;
}

.ml-1{
  margin-left: 10px;
}
.btn{
  height: 44px;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
}
.publicar{
  background-color: #183A9C;
  color: #FFFFFF;
}
.conectar{
  background-color: #4F7AF6;
  color: #FFFFFF;
}
.social_media{
  font-size: 16px;
  font-weight: bold;
  color: #183A9C;
}
.username{
  font-size: 14px;
  color: #010101;
}
i.fa{
  font-size: 40px;
  color: #FFFFFF;
}
.icon{
  padding: 0 !important;
  background-color: #183A9C;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 66px;
  border-radius: 50%;
}
.icon i{
  font-size: 36px;
  margin: 0 !important;
  padding: 0 !important;
}
