@import 'assets/lib/phone-number-validation/build/css/demo.css';
@import 'assets/lib/phone-number-validation/build/css/intlTelInput.css';

/* You can add global styles to this file, and also import other style files */
/* Definición de la fuente */
@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px !important;
}

*::-webkit-scrollbar:vertical {
    width: 10px;
}

*::-webkit-scrollbar-button:increment,
*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar:horizontal {
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #EF4E00;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Aplicación global */
body {
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden !important;
}

.glass{
 background: rgba(255, 255, 255, .3) !important;
 -webkit-backdrop-filter: blur(5px) !important;
 backdrop-filter: blur(5px) !important;
 border: 2px solid rgb(255, 255, 255) !important;
}
.glass2{
  -webkit-backdrop-filter: blur(5px) !important;
  backdrop-filter: blur(5px) !important;
  border: 2px solid rgb(255, 255, 255) !important;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
  radial-gradient(99.95% 100% at 100% 100%, rgba(24, 58, 156, 0.2) 0%, rgba(24, 58, 156, 0) 60%, rgba(24, 58, 156, 0.2) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.form-square{
  height: calc(100vh - 40px);
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.blue{
  background-color: #183A9C !important;
  color: #FFFFFF !important;
  border: none !important;
}

.blue span{
  color: #FFFFFF !important;
}

form .logo{
  width: 100%;
}

.wrapper{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F4F9FD;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  z-index: -1;
}
.centered{
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icon{
  font-size: 18px;
  margin-right: 5px;
  cursor: pointer;
  color: #183A9C;
}
.day-number {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #272727;
}
/* ESTILOS PARA CUADRÍCULA AZUL EN CALENDARIO */
.calendar {
    border: 2px solid #D8E0F0;
    border-radius: 5px;
    overflow: hidden;
}

.calendar-header {
    border-bottom: 2px solid #D8E0F0;
    height: 45px !important;
}

.calendar-header div {
  text-align: left;
  border-right: 2px solid #D8E0F0;
  font-weight: bold;
  font-size: 14px !important;
  font-weight: 500 !important;
  margin-left: 10px;
}

.calendar-header div:last-child {
    border-right: none;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0;
}

.day {
    min-height: 100px;
    background-color: white;
    border-right: 2px solid #D8E0F0;
    border-bottom: 2px solid #D8E0F0;
    padding-left: 10px;
    position: relative;
}

/* Eliminar bordes derechos de la última columna */
.day:nth-child(7n) {
    border-right: none;
}

/* Eliminar bordes inferiores de la última fila */
/* .day:nth-last-child(-n+7) {
    border-bottom: none;
} */

.day-number {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
    padding: 5px;
}

.empty {
    background-color: #e3f2fd;
}

/* Estilo para días con publicaciones */
.day.has-event {
    background-color: #e3f2fd;
}

img.icon-header{
  position: absolute;
  top: 0;
  left: 0;
  height: 100px !important;
  width: 110px !important;
}

.card.blue .info{
  margin-left: 120px;
}
